<div class="container">
  <h3 class="d-flex justify-content-center">Applicazione</h3>
  <nav class="navbar navbar-expand-sm bg-light navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item">
        <button routerLink="home" class="m-1 btn btn-light btn-ouline-primary" Button>
          Home
        </button>
      </li>
      <li class="nav-item">
        <button routerLink="gene-median-tpm" class="m-1 btn btn-light btn-ouline-primary" Button>
          Geni
        </button>
      </li>
      <li class="nav-item">
        <button routerLink="sample-attributes-ds" class="m-1 btn btn-light btn-ouline-primary" Button>
          Sample Attributes
        </button>
      </li>
      <li class="nav-item">
        <button routerLink="subject-phenotypes-dd" class="m-1 btn btn-light btn-ouline-primary" Button>
          Subject phenotypes
        </button>
      </li>
    </ul>
  </nav>
<router-outlet></router-outlet>
</div>